<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Marko Gordic">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <meta name="description" content="Session type selection">

    <title>Vibe Vortex | Start</title>

    <link rel="stylesheet" href="/css/setup.css">
</head>
<body>
<div class="content-wrap">
    <div class="type-container">
        <% if (isPremium === true) { %>
        <div class="card" id="host">
            <img src="/img/host.png" alt="Host">
            <h2>HOST NEW ROOM</h2>
            <p>Launch your own game! Create a new session, get a unique room code, and invite friends to join your interactive adventure. Be the master of your vibe!</p>
            <p style="color:#E02500; margin-top: 20px">Spotify Premium is required.</p>
            <button onclick="window.location.href = '/vortex/new'">Create New Room</button>
        </div>
        <% } %>

            <div class="card" id="join">
            <img src="/img/join.png" alt="Join">
            <h2>JOIN THE VIBE</h2>
            <p>Jump into the action! Enter a room code to join friends in an existing game. Be part of the excitement and make your mark!</p>
            <input id="roomCodeInput" maxlength='7'/>
            <button id="joinButton">Join</button>
        </div>
    </div>
</div>

<script src="/js/setup.js"></script>
</body>
</html>